/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Week days */
.week-days-wrapper {
  padding: 50px;
  display: flex;
  width: '1379px';
}

/* Day Item */
.day-wrapper {
  flex: 1;
  padding: 10px;
  text-align: 'left';
}

.day-header {
  text-align: 'left';
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #6a7988;
  text-transform: uppercase;
}

.day-body {
  margin-top: 10px;
  padding: 10px;
  background: #f3f5f8;
  border-radius: 6px;
  height: 1000px;
  opacity: 0.8;
}

.day-number {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #728096;
}

.day-number-active {
  font-weight: 700;
  color: #5a57cb;
}

/* Workout Item */
.workout-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
}

.workout-header {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #5a57cb;
}

/* Exercise Item */
.exercise-wrapper {
  background: #ffffff;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

.exercise-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #000000;
}

.exercise-info {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
  color: #95a6b7;
}
